*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: bseline;
}

body{
    text-align: center;
    font-family: sans-serif;

}

.head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 63px;
    
    background: #000080;
    position: fixed;
    width: 100%;
    z-index: 100;
}
.navbar{
    display: flex;
    margin-right: 10px;
}
.logo{
    margin-left: 30px;
}

.logo a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 20px;
}

.navbar a {
    display: block;
    padding: 20px 20px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
}

.navbar a:hover {
    background: #1a29af;
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    height: 80vh !important;
    background: url(header.jpg) no-repeat center;
    background-size: cover;
}
.title {
    margin-bottom: 7px;
    font-size: 60px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff; 
}

p {
   margin-bottom: 40px;
   font-size: 18px;
   color: #fff;
    padding: 0 100px;
   
}

.btn {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 40px;
    border: 2px solid #008080;
    color: #fff;
    text-decoration: none;
    background: #008080;
}

.btn:hover {
    background: none;
}

.btn-home {
    display: flex;
}
.btn-home a {
    margin: 0 10px;
}

.content {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.sau {
    padding: flex;
    background: #2471A3;
}
.box-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}

.box-container .box {
    height: 20rem;
    width: 17rem;
    background: #101010;
    text-align: center;
    border-radius: 1rem;
    box-shadow: 0 .2rem 5rem rgba(0, 0, 0, .5);
    margin: 2rem;
} 

.box-container .box i {
    height: 3rem;
    width: 3rem;
    line-height: 3rem;
    text-align: center;
    border-radius: 50%;
    color: #fff;
    background: #9c27b0;
    font-size: 2rem;
    margin: 1rem 0;
}
 .box-container .box h3 {
    font-size: 20px;
    color: #9c27b0;
 }

 .box-container .box p {
    padding: 0 15px;
    font-size: 15px;
    text-align: left;
    justify-content: left;
 }

 .about {
    background: #3498DB;
 }

 .price {
    background: url(costos.jpg) no-repeat center;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
 }

 .contact {
    padding-top: 1px;
    background: #1f1f1f;
    padding-bottom: 0;

 }
 footer {
    padding: 20px;
    margin-top: 30px;
    color: #fff;
    background-color: #1293d4;
 }
 :root {
    --facebook: #3b5999;
    --instagram: #e4405f;
    --twitter: #55acee;
    --pinterest: #bd081c;
    --linkedin: #007785;
    --whatsapp: #25d366;
    --messenger: #0084ff;
    --google: #d95232;
 }
 .redes-container{
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
 }

.redes-container ul li {
    display: inline-block;
    margin: 0 5px;
    width: 50px;
    height: 50px;
    text-align: center;
}
.redes-container ul li a{
    display: block;
    padding: 0 10px;
    background: #333;
    color: #fff;
    line-height: 50px;
    font-size: 18px;
    box-shadow: 0 3px 5px 0px rgba(0, 0, 0, .2);
    transition: .2s;
}

.redes-container ul:hover a{
    filter: blur(2px);
}

.redes-container ul li a:hover{
    transform: translateY(-3px) scale(1.05);
    box-shadow: 0 5px 5px 0px rgba(0, 0, 0, .4);
    filter: none;
}
.redes-container ul li .facebook:hover{
    background: var(--facebook);
}
.redes-container ul li .instagram:hover{
    background: var(--instagram);
}
.redes-container ul li .twitter:hover{
    background: var(--twitter);
}
.redes-container ul li .pinterest:hover{
    background: var(--pinterest);
}
.redes-container ul li .linkedin:hover{
    background: var(--linkedin);
}
.redes-container ul li .whatsapp:hover{
    background: var(--whatsapp);
}

.redes-container ul li .messenger:hover{
    background: var(--messenger);
}

.redes-container ul li .google:hover{
    background: var(--google);
}








 @media (max-width: 768px){

    .title {
        margin-bottom: 0;
        font-size: 40px;
    }

    .sau {
        height: 120vh;
    }
    .navbar {
        display: none;
    }

 }